* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #23272a;
    /*background: bottom/cover url(/assets/img/bg.png) no-repeat;*/
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: .2em;
    justify-content: space-between;
    background-color: #151618;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.5em;
}

.logo img {
    height: 3em;
    border-radius: 50%;
    margin: .5em 0 0.5em;
}

.logo h2 {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.8em;
    font-size: .7em;
}

nav a {
    color: aliceblue;
    letter-spacing: .125em;
}

nav a:nth-of-type(1) {
    margin-right: .8em;
}

/*Start Main Content*/

.container {
    margin: 1.25em 1em 2em;
}

.slogan-bot {
    text-align: center;
    padding-top: 120px;
}

.slogan-bot h1 {
    font-size: 2.5em;
    text-align: center;
    color: aliceblue;
    padding-bottom: 2.2em;
}

.inv-btn {
    position: relative;
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    z-index: -2;
}

.fill-btn {
    position: absolute;
    background-image: linear-gradient(to right, #fbee40, #00d400);
    background-size: 150% 150%;
    height: 70px;
    width: 420px;
    border-radius: 5px;
    margin: -40px 0 0 -140px;
    z-index: -1;
    transition: all 0.4s ease;
}

.container-btn:hover .fill-btn {
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Start CMD Content and SUPPORT Content*/

.container-inf,
.container-sup {
    margin: 9.16em 1em 2em;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #00d400;
}

.inf-bot h1,
.container-sup h1 {
    padding: 1.8em 1em 0;
    letter-spacing: .125em;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

.inf-bot p,
.container-sup p {
    padding: 1.5em 1.2em 0;
    color: #fff;
}


/* Start FOOTER Content */

footer {
    display: flex;
    text-align: center;
    padding: .5em 0 .5em;
    flex-direction: column;
    background-color: #151618;
    color: #fff;
}

.inf-footer {
    padding: 1em 0 1em;
}

.inf-footer a {
    color: #fff;
}





























/*
header {
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    top: -1px;
    padding: 0 0 15px 0;
    background: rgba(0, 0, 0, 0.4);
}

.logo:link,
.logo:visited,
.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    outline: none;
    color: #fff
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.logo img {
    margin: 0 15px;
    height: 60px;
    border-radius: 50%;
}

nav a {
    font-weight: 600px;
    margin: 2px 2px;
    padding: 5px 5px;
    background: rgba(3, 3, 3, 0.6);
    border-radius: 8px;
}

.container {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 30px 10px 0;
    padding: 20px 15px 20px;
}

.container h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px
}

.title-pc {
    display: none;
}

.container p {
    font-size: 17px;
    letter-spacing: 2px;
    color: #fff;
}

.invite-link:link,
.invite-link:visited {
    backdrop-filter: blur(10px);
    text-decoration: none;
    outline: none;
    border: 1px solid black;

}

.container .invite-link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
}

.container img {
    display: none;
}
*/