* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #23272a;
    /*background: bottom/cover url(/assets/img/bg.png) no-repeat;*/
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: .2em;
    justify-content: space-between;
    background-color: #151618;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.5em;
}

.logo img {
    height: 3em;
    border-radius: 50%;
    margin: .5em 0 0.5em;
}

.pc-desing {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.8em;
    font-size: .7em;
}

nav a {
    color: aliceblue;
    letter-spacing: .125em;
}

nav a:nth-of-type(1) {
    margin-right: .8em;
}

/*Start Main Content*/

.container {
    margin: 1.25em 1em 2em;
}

.slogan-bot {
    text-align: center;
    padding-top: 120px;
}

.slogan-bot h1 {
    font-size: 2.5em;
    text-align: center;
    color: aliceblue;
    padding-bottom: 2.2em;
}

.inv-btn {
    position: relative;
    height: 50px;
    width: 250px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    z-index: -2;
}

.inv-btn a {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.inv-btn img {
    height: 30px;
}

.fill-btn {
    position: absolute;
    background-image: linear-gradient(to right, #fbee40, #00d400);
    background-size: 150% 150%;
    height: 70px;
    width: 420px;
    border-radius: 5px;
    margin: -40px 0 0 -140px;
    z-index: -1;
    transition: all 0.4s ease;
}

.container-btn:hover .fill-btn {
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Start CMD Content */

.container-inf {
    margin: 9.16em 1em 2em;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(0, 212, 0);
}

.inf-bot h1 {
    padding: 1.8em 1em 0;
    letter-spacing: .125em;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

.inf-bot p {
    padding: 1.5em 1.2em 0;
    color: #fff;
}

.imgI-bot img {
    display: none;
    height: 50px;
}


/* Start SUPPORT Content */

.container-sup {
    margin: 9.16em 1em 2em;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #00d400;
}

.inf-sup h1 {
    padding: 1.8em 1em 0;
    letter-spacing: .125em;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}

.inf-sup p {
    padding: 1.5em 1.2em 0;
    color: #fff;
}


/* Start FOOTER Content */

footer {
    text-align: center;
    flex-direction: column;
    background-color: #151618;
    color: #fff;
}

.container-ft {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: .7em;
}

.rs-container {
    letter-spacing: 0.188em ;
    padding-bottom: 1em;
}

.inf-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.inf-footer a {
    font-size: 16px;
    letter-spacing: 0.188em;
    color: #fff;
}

.inf-footer a:nth-of-type(1),
a:nth-of-type(2),
a:nth-of-type(3) {
    padding-bottom: .7em;
}

@media (min-width: 600px) {
    .container {
        padding-top: 115px;
    }

    /* CMD Content */

    .container-inf {
        padding-bottom: 0;
        display: flex;
        margin: 9.16em 9.16em;
    }

    .inf-bot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .des-bot {
        margin: 1.25em 3.5em;
    }

    .imgI-bot img {
        display: flex;
        height: 300px;

        margin: 1.25em 3.5em;
    }

    /* SUPPORT Content */

    .container-sup {
        padding-bottom: 0;
        display: flex;
        margin: 9.16em 9.16em;
    }

    .inf-sup {
        display: flex;
        flex-direction:row-reverse
        justify-content: space-between;
    }

    .sup-bot {
        margin: 1.25em 3.5em;
    }

    .imgI-bot img {
        display: flex;
        height: 300px;
        margin: 1.25em 3.5em;
    }

    /* Footer Content */
    .container-ft {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5em 0;
    }

    .rs-container {
        padding-bottom: 0;
        padding-left: 1.5em;
    }

    .inf-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .inf-footer a {
        padding-right: 1.5em;
        font-size: 16px;
    }

    .inf-footer a:nth-of-type(1),
    a:nth-of-type(2),
    a:nth-of-type(3) {
        padding-bottom: 0;
    }
}